<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- vchituvanje header.ejs -->
    <%- include("header"); %>
    <!-- vchituvanje na promenliva ime -->
    <h1>Zdravo <%= ime %></h1>
    <ul>
        <% if(studenti.length > 15){ %>
            <% studenti.forEach(s => {%>
                <li>
                    <%= s.first_name %>
                    <%= s.last_name %>

                </li>
            <% }); %>
        <% }else{ %>
            <p>Nema dovolno strudenti! </p>
        <% } %>
    </ul>
</body>
</html>